$colorGreyHardiest: #f8f8f9;
$colorTalk: #70d0e9;
$colorBbl: #a77ab3;
$colorConf: #a1b93f;
$colorOrga: #f98f29;
$colorGreyLight: #9D9DA3;
$colorGreyLighest: rgb(248, 248, 249);
$colorGreyClear: #e4e4ea;
$colorGreyHard: #262720;
$colorGreyUltrahard: #09091A;
$colorBlackLight: #525758;
$colorGold: #f5b937;
$colorSilver: #c0c0c0;
$colorGreen: #a1b93f;
$colorGreenDark: #798e25;

$colorDefaultFont: #70d0e9;

$titleFontFamily: 'Lekton';
