@import 'vars.scss';
@media (min-width:320px) {
  /* smartphones, iPhone, portrait 480x320 phones */
}

@media (min-width:481px) {
  /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
}

@media (min-width:641px) {
  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
}

@media (min-width:961px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
}

@media (min-width:1025px) {
  /* big landscape tablets, laptops, and desktops */
}

@media (min-width:1281px) {
  /* hi-res laptops and desktops */
}

html {
  font-size: 16px;
}

.wrapper {
  width: 700px;
  margin: 0 auto; // background-color: green;
}

*:focus {
  outline: none;
}

a {
  cursor: pointer;
  color: $colorTalk;
}

.categoryTalks {
  border-top: 2px solid $colorTalk;
}

.categoryBbl {
  border-top: 2px solid $colorBbl;
}

.categorySummit {
  border-top: 2px solid $colorConf;
}

.categoryAssociation {
  border-top: 2px solid $colorOrga;
}

.categoryDefault {
  border-top: 2px solid $colorTalk;
}